@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

body{
	background: #1a1a1a;

}
section{
	width: 100%;
	max-width: 1400px;
	height: 630px;
	border: 1px solid #ffffff;
	margin: 50 px auto; 
}

#fila{
	width: 93%;
	display: flex;
}

#foto{
	width: 100%;
}

#info{
	width: 100%;
}

#info h2{
	color: #00f290;
	font-size: 35px;
	font-weight: 700;
	font-family: 'fugaz one' cursive;
	margin-bottom: 0;

}

#info h1{
	color: #ffffff;
	font-size: 35px;
	font-weight: 500;
	font-family: 'fugaz one' cursive;
	margin-top: 0;
	margin-bottom: 0;
}

#info #detalle{
	width: 150px;
	height: 4px;
	background: #00f290;
	margin-bottom: 40px;
}

#info p{
	color: #ffffff;
	font-size: 15px;
	font-family: 'Dosis' sans-serif;

}

#info article{
	border: 3px solid #00f290;
	width: 97%;
}

article ul li{
	color: #ffffff;
	font-size: 25px;
	font-family: 'Dosis' sans-serif;
	list-style: none;
	width: 49%;
	display: inline-block;
	margin-bottom: 10px;
}

#info #redes{
	margin-top: 50px;
}

#info #redes a{
	margin: 12px;
}